@model LibraryProject.ViewModels.BorrowerViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Borrower Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borrower.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower.Name)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>Borrowed Books</th>
            <th>Number of copies</th>
        </tr>
        @foreach (var item in Model.BorrowedBooks)
        {
            <tr>
                <td>
                    
                    <a href="@Url.Action("Details", "Book", new {id=item.Book.ID})">
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Borrower.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
