@model LibraryProject.ViewModels.BookViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Book Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.NumberOfPages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.NumberOfPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.BookCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookCopies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.BorrowedCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BorrowedCopies)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>Borrower</th>
            <th>Copies borrowed</th>
        </tr>
        @foreach (var item in Model.Borrowers)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Manager", new {id=item.Borrower.ID})">
                        @Html.DisplayFor(modelItem => item.Borrower.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
