@using LibraryProject.Enums
@model IEnumerable<LibraryProject.Models.Book>

@{
    ViewBag.Title = "Book";
}
<h3>All Books</h3>

@if (ViewBag.IsManager)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowedCopies)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedCopies)
            </td>

            @if (ViewBag.IsManager)
            {
                <td>
                    @Html.ActionLink("Edit ", "Edit", new { id = item.ID })|
                    @Html.ActionLink("Details ", "Details", new { id = item.ID })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }
</table>
