<!DOCTYPE html>
@using LibraryProject.Enums
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Library Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["LoggedInUser"] != null)
                {

                    if (Session["UserRole"].Equals(UserRole.Manager))
                    {
                        @Html.ActionLink("Manage Book", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Manage Borrower", "Index", "Manager", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else if (Session["UserRole"].Equals(UserRole.Borrower))
                    {
                        @Html.ActionLink("Borrow Books", "Index", "Borrower", new { area = "" }, new { @class = "navbar-brand" })
                    }

                    <ul class="pull-right nav navbar-nav">
                        @Html.ActionLink("  Logout", "Logout", "Authentication", new { area = "" }, new { @class = "navbar-brand pull-right" })
                    </ul>
                    <div class="navbar-brand navbar-right"></div>
                    <ul class="navbar-brand navbar-nav navbar-right">
                        Welcome @ViewBag.UserName
                    </ul>
                }
                else
                {
                    <ul class="pull-right nav navbar-nav">
                        @Html.ActionLink("Login", "Index", "Authentication", new { area = "" }, new { @class = "navbar-brand" })
                    </ul>
                }

            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Library Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
