@model IEnumerable<LibraryProject.ViewModels.BookViewModel>

@{
    ViewBag.Title = "BorrowedBooks";
}

<h2>Books borrowed</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.NumberOfPages)
        </th>
        <th>
            @Html.DisplayName("Copies Borrowed")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Return", "Return", new { id = item.Book.ID })
            </td>
        </tr>
    }

</table>
<p> @Html.ActionLink("Back to Index", "Index")</p>
